<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750270443672-6euf75e6k3vi979qqrop37fq78omk3jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750270443672-6euf75e6k3vi979qqrop37fq78omk3jt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750270443672-f5he9216pjp2mpqglpsi6j9g6jfedp3t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWNdsICszdRBqwpYCBzaXfdiYbI-CZRKI</string>
	<key>GCM_SENDER_ID</key>
	<string>750270443672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bpb.movies</string>
	<key>PROJECT_ID</key>
	<string>movies-7f57a</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-7f57a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750270443672:ios:aca984a899bb37b08060ed</string>
</dict>
</plist>